body {
    margin: 0;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 1750px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 100px;

}
.grid1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
header{
    width: 100%;
    background: black;
    height: 150px;
    border-bottom: 3px solid #333;
}
header img{
    grid-column: span 2;
    margin-left: 75px;
}
header nav{
    grid-column: 3 / span 2;
    justify-self: end;
    margin-right: 50px;
    padding-top: 60px;
}
header nav a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 20px
}
header nav a:hover{
    color: black;
    border: 5px solid none;
    border-radius: 35px;
    background: white;
    transition: background-color 1.0s;
}
.logo {
    overflow: visible;
    position: absolute;
    height: 225px;
    width: 225px;
    padding-top: 15px;
    border: 15px black;
    border-radius: 45px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: black;
    margin-top: 35px;
}
.welcome-photo{
    grid-column: 1 / span 6;
    align-self: center;
    padding: 15px;
    height: 90%;
    width: 90%;
}
.welcome{
    grid-column: 7 / span 4;
    color: rgb(188, 186, 186);
    align-self: center;
}
.welcome h2{
    font-size: 50px;
}
.coaches-header{
    grid-column: 1 / 11;
    display: flex;
    justify-content: center;
    color: white;
    padding: 25px 0;
    margin-top: 50px;
    margin-bottom: 35px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    font-size: 38px;
}
.coaches{
    grid-column: 1 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
    margin: 25px 0;
}
.coaches ul{
    display: flex;
    justify-content: center;
    color:#fff;
    list-style-type: none;
    font-size: 25px;
    text-align: center;
}
.coaches li{
    transition-duration: 0.75s;
}
.coaches p{
    margin: 5px 0;
    font-size: 25px;
}
.coaches img {
    height: 280px;
    width: 255px;
    margin: 0px 50px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #fff;
}
.coaches li:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.gym{
    grid-column: 1 / 11;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
}
.gym h2{
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    font-size: 38px;
    padding: 25px 0;
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    width: 100%;   
}
.gallery{
    grid-column: 1 / 11;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 40px auto;
    padding: 0 0;
}
.thumbnail{
    border:solid 3px rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    max-height: 225px;
    max-width: 350px;
    transform: scale(1);
    transition: transform 0.5s;
    margin: 20px 20px;
}
.thumbnail:hover{
    transform: scale(1.15);
}
.thumbnail img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.contact{
    grid-column: 1 / 11;
    display: flex;
    flex-wrap: wrap;
    color: #fff;

}
.contact h2{
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    font-size: 38px;
    padding: 25px 0;
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.popup{
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    left: 0;
    position: fixed;
    top: 0;
}
.popup.hidden{
    display: none;
}
.popup__img {
    height: 70%;
    width: 70%;
    border:1px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}
.popup__close{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    font-size: 80px;
    position: fixed;
    right: 50px;
    top: 32px;
}
.popup__arrow{
    border: none;
    border-radius: 50px;
    font-size: 80px;
    height: 100px;
    width: 100px;
    opacity:0.5;
    position: absolute;
    top: 50%;
    line-height: 100px;
    cursor: pointer;
}
.popup__arrow:hover{
    opacity: 1;
}
.popup__arrow--left{
    left: 2%;
}
.popup__arrow--right{
    right: 2%;
}
.contact{
    padding-bottom: 50px;
    border-bottom: 3px solid #333;
}
.contact form{
    width: auto;
    margin: 25px auto;
    padding-left: 65px;
      
}
.contact input{
    color: white;
    background-color: #333;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    padding-left: 15px;
}
.contact textarea{
    color: white;
    background-color: #333;
    border: 2px solid white;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    font-size: 20px;
    padding-left: 15px;
}
.contact address ul{
    color: white;
    list-style: none;
    font-size: 25px;
}
.contact ul a{
    text-decoration: none;
    color: white;
}
.adress-icon{
    width: 30px;
    height: 30px;
    background-color: black;
    margin-right: 20px;
    padding: 15px;
    vertical-align: middle;
}
.contact b{
    padding-right: 20px;
}
.contact address{
    width: auto;
    margin: 25px auto;
    padding: 0px 70px;
    border-left: 3px solid #333;
}
footer{
    height: 150px;
    grid-column: 1 / span 11;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
}
footer img{
    padding: 10px 10px;
    position: absolute;
    height: 200px;
    width: 200px;
    overflow: visible;
}